[submodule "tests/external/benchmark"]
	path = tests/external/benchmark
	url = https://github.com/google/benchmark
[submodule "external/gsl/include"]
	path = external/gsl/include
	url = https://github.com/Microsoft/GSL
